<h1>質問一覧</h1>
<div class = "container">
  <%= search_form_for @q do |f| %>

  <%= f.label :title_cont %>
  <%# answers_bodyのようにテーブル名カラム名からとってくることも可能  %>
  <%= f.search_field :title_or_body_or_answers_body_cont %>

  <%= f.submit %>
<% end %>
  <ul>
  <% @questions.each do |question| %>
    <li>
    <%= link_to question.title, question_path(question) %>
    <% if current_user.present?  %> <%#まずログインしているかどうかで分岐 %>
      <% if question.user_id == current_user.id %>
        <%= link_to "編集", edit_question_path(question), class: "btn btn-success" %>
        <%= link_to "削除", question_path(question), class: "btn btn-danger", data: { confirm: "削除しますか", }, method: :delete %>
      <% end %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>

